.header{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header-logo img{
    width: auto;
    max-width: 100%;
    max-height: 70px;
}

.header-nav{
    display: flex;
    flex-direction: column;
}