
.embla {
    overflow: hidden;
    max-width:100%;
    height: 70vh;
    background-color: antiquewhite;

  }
  .embla__container {

    display: flex;
  }
  .embla__slide {
    color: blue;
    flex: 0 0 100%;
    min-width: 0;
  }
  